@use "../../../../styles/helpers/variables/functions" as *;
@use "../../../../styles/helpers/variables/media" as *;

.navMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  .navActions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.75rem;

    .questions {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: size("bigSize");

      @include media-960 {
        display: none;
      }
    }
  }

  [data-button-re]:first-of-type {
    @include media-680 {
      display: none;
    }
  }

  .extra {
    @include media-960 {
      display: none;
    }
  }
}
