@use "../../../../styles/helpers/variables/variables" as *;
@use "../../../../styles/helpers/variables/functions" as *;
@use "../../../../styles/helpers/variables/media" as *;

$fig-w: 20rem;

.hotelsRowContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;

  @include media-680 {
    width: 100%;
  }

  .card {
    display: flex;
    gap: 0.75rem;
    height: $fig-w;
    border: 1px solid color("darkGreyC");
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background: color("whiteC");

    &Fig {
      width: $fig-w;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &Desc {
      width: calc(100% - $fig-w);
    }

    @include media-1280 {
      flex-direction: column;
      height: max-content;

      &Fig {
        width: 100%;
        height: 20rem;
      }

      &Desc {
        width: 100%;
      }
    }

    @include media-680 {
      width: 100%;
    }
  }

  .cardDesc {
    display: grid;
    grid-template-columns: 1fr repeat(2, max-content);
    grid-template-rows: repeat(7, 1fr);
    align-items: center;
    gap: 0.5rem;

    .title {
      grid-row: 1;
      grid-column: 1;
      color: color("blueTintC");
      text-transform: capitalize;
      font-size: size("bigSize");
      font-weight: weight("boldWeight");
    }

    .locationAccess {
      grid-column: 1;
      grid-row: 2;
      font-size: size("smallerSize");
      font-weight: weight("mediumWeight");

      &::first-letter {
        text-transform: capitalize;
      }
    }

    .taxi {
      grid-column: 1;
      grid-row: 3;
      background: green;
      width: max-content;
      padding: 0.25rem 0.5rem;
      color: color("whiteShadeC");
      font-size: size("smallSize");
      border-radius: 0.3rem;

      &::first-letter {
        text-transform: capitalize;
      }
    }

    .shortDesc {
      grid-column: 1;
      grid-row: 4;
      font-weight: weight("bolderWeight");
      font-size: size("smallSize");
      &::first-letter {
        text-transform: capitalize;
      }
    }

    .freeCancelation {
      grid-column: 1;
      grid-row: 6/8;
      display: flex;
      flex-direction: column;
      font-size: size("smallSize");
      color: green;

      span:first-child {
        font-weight: weight("bolderWeight");
        &::first-letter {
          text-transform: capitalize;
        }
      }

      span:last-child {
        font-size: size("smallerSize");
        &::first-letter {
          text-transform: capitalize;
        }
      }
    }

    .ratingBox {
      grid-column: 2/4;
      grid-row: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .reteVerbal {
        text-transform: capitalize;
        font-weight: weight("boldWeight");
        color: color("blueC");
      }
    }

    .priceBox {
      grid-column: 2/4;
      grid-row: 4/6;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .price {
        font-weight: weight("bolderWeight");
        font-size: size("bigSize");
      }

      .msg {
        font-size: size("smallSize");
        color: color("lighGreyC");

        &::first-letter {
          text-transform: capitalize;
        }
      }
    }

    [data-button-re] {
      grid-column: 2/4;
      grid-row: 6/8;
      align-self: flex-end;
    }

    @include media-960 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .title {
        order: 1;
      }

      .ratingBox {
        order: 2;
        gap: 0.5rem;
      }

      .priceBox {
        order: 3;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
      }

      .taxi {
        order: 4;
      }

      .locationAccess {
        order: 5;
      }

      .shortDesc {
        order: 6;
      }

      .rooms {
        order: 7;
      }

      .freeCancelation {
        order: 8;
      }

      [data-button-re] {
        order: 9;
        width: 100%;
        padding: 1rem 0;
      }
    }
  }
}
