@use "../../../../styles/helpers/variables/variables" as *;
@use "../../../../styles/helpers/variables/functions" as *;
@use "../../../../styles/helpers/variables/media" as *;

.hotelsContainer {
  padding: 2rem 1rem;
  min-height: 100vh;

  .wrapper {
    width: min($container-width, 100%);
    margin: 0 auto;
    display: grid;
    column-gap: 5rem;
    grid-template-columns: 35rem 1fr;
    align-items: flex-start;

    @include media-960 {
      grid-template-columns: 28rem 1fr;
    }

    @include media-680 {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
    }
  }
}
