@use "../../../styles/helpers/variables/functions" as *;

%abs {
  z-index: 99;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.spinner {
  background: rgba(299, 299, 299, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    font-size: 3rem;
    fill: color("blueC");
    animation: spin 1s linear infinite;
  }

  &.fixed {
    position: fixed;
    @extend %abs;
    background: rgba(0, 0, 0, 0.6);

    svg {
      fill: color("whiteShadeC");
    }
  }

  &.absolute {
    position: absolute;
    @extend %abs;
  }

  &.inline {
    height: 100%;
    width: 100%;
    padding: 2rem;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
