@use "../../../../styles/helpers/variables/functions" as *;
@use "../../../../styles/helpers/variables/media" as *;

.hotelDescription {
  display: flex;
  justify-content: space-between;
  gap: 8rem;

  @include media-960 {
    flex-direction: column;
    gap: 4rem;
  }

  @include media-680 {
    gap: 2rem;
  }

  .descriptionInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .descriptionTitle {
      font-size: size("largeSize");
      font-weight: weight("boldWeight");

      &::first-letter {
        text-transform: capitalize;
      }
    }

    @include media-960 {
      order: 2;
    }
  }

  .descriptionLabel {
    align-self: flex-start;
    min-width: 25rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.75rem;
    border-radius: 0.75rem;
    background: rgba(color("blueTintC"), 0.5);

    @include media-960 {
      order: 1;
      align-self: center;
    }

    @include media-480 {
      max-width: 100%;
      min-width: none;
    }

    .labelTitle {
      font-weight: weight("boldWeight");

      &::first-letter {
        text-transform: capitalize;
      }
    }

    .labelDescription {
      font-size: size("smallSize");
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .priceBox {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      font-size: size("bigSize");

      .price {
        font-weight: weight("bolderWeight");
      }
    }
  }
}
