@use "../../../../styles/helpers/variables/functions" as *;
@use "../../../../styles/helpers/variables/media" as *;

.featuresList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;

  .featureItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

    .iconBox {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        font-size: 3rem;
      }
    }

    .featureLabel {
      font-size: size("regullarSize");
      text-transform: capitalize;
    }
  }

  @include media-680 {
    gap: 2rem;

    .featureItem .iconBox svg {
      font-size: 2.5rem;
    }
  }
}
