@use "../../../../styles/helpers/variables/variables" as *;
@use "../../../../styles/helpers/variables/functions" as *;

.hotel {
  position: relative;
  min-height: 100vh;

  .wrapper {
    width: min($container-width, 100%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 1rem 8rem 1rem;
  }
}
