@use "../../../styles/helpers/variables/variables" as *;
@use "../../../styles/helpers/variables/functions" as *;
@use "../../../styles/helpers/variables/media" as *;

$thumbs-h: 10rem;
$thumbs-h-sm: 5rem;

$slider-gap: 2rem;
$slider-pad-y: 1rem;
$main-slider-h: calc(100vh - $thumbs-h - $slider-gap - $slider-pad-y * 2);
$main-slider-h-sm: calc(100vh - $thumbs-h-sm - $slider-gap - $slider-pad-y * 2);

.swiperModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  padding: $slider-pad-y 0;

  .swiperModalWrapper {
    width: min($container-width, 100%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: $slider-gap;
    position: relative;
  }

  .closeModalBtn {
    position: absolute;
    z-index: 99;
    background: none;
    right: 1rem;
    top: 1rem;
    color: color("whiteShadeC");
    font-size: 3rem;
  }

  .mainSlider {
    width: 100%;
    height: $main-slider-h;

    @include media-480 {
      height: $main-slider-h-sm;
    }
  }

  .mainSliderSlide {
    display: flex;
    justify-content: center;
    align-items: center;

    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  .thumbSlider {
    height: $thumbs-h;
    max-width: min($container-width, 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-480 {
      height: $thumbs-h-sm;
      justify-content: flex-start;
    }
  }

  .thumbSlide {
    cursor: pointer;
    width: $thumbs-h;
    height: $thumbs-h;
    aspect-ratio: 1/1;

    @include media-480 {
      height: $thumbs-h-sm;
      min-width: $thumbs-h-sm;
    }

    figure {
      width: 100%;
      height: 100%;
      border-radius: 0.75rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
